<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsReceiver.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WindowsReceiver.My.MySettings>
            <setting name="B1" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="B2" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="B3" serializeAs="String">
                <value>c</value>
            </setting>
            <setting name="B4" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="B5" serializeAs="String">
                <value>e</value>
            </setting>
            <setting name="B6" serializeAs="String">
                <value>f</value>
            </setting>
            <setting name="B7" serializeAs="String">
                <value>g</value>
            </setting>
            <setting name="B8" serializeAs="String">
                <value>h</value>
            </setting>
            <setting name="B9" serializeAs="String">
                <value>i</value>
            </setting>
            <setting name="B10" serializeAs="String">
                <value>j</value>
            </setting>
            <setting name="B11" serializeAs="String">
                <value>k</value>
            </setting>
            <setting name="J1" serializeAs="String">
                <value>x</value>
            </setting>
            <setting name="J2" serializeAs="String">
                <value>y</value>
            </setting>
            <setting name="KeyboardEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="B12" serializeAs="String">
                <value>l</value>
            </setting>
            <setting name="B13" serializeAs="String">
                <value>m</value>
            </setting>
            <setting name="B14" serializeAs="String">
                <value>n</value>
            </setting>
        </WindowsReceiver.My.MySettings>
    </userSettings>
</configuration>